services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - DB_URL=mongodb://mongodb:27017/mveu
    volumes:
      - uploads:/app/uploads
    depends_on:
      - mongodb
    networks:
      - app-network

  frontend:
    build:
      context: ./vite-project
      dockerfile: Dockerfile
      args:
        - VITE_BACKEND_URL=http://localhost:5000
    container_name: frontend
    restart: always
    ports:
      - "3000:80"
    env_file:
      - .env
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  mongodb_data:
  uploads:

networks:
  app-network:
    driver: bridge