services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    env_file:
      - .env
    environment:
      - DB_URL=mongodb://mongodb:27017/mveu
      - NODE_ENV=production
    volumes:
      - uploads:/app/uploads
    depends_on:
      - mongodb
    networks:
      - app-network
      - traefik
    expose:
      - 5000
    labels:
      - "traefik.http.routers.backend.rule=Host(`${BACKEND_DOMAIN}`)"
      - "traefik.http.routers.backend.entrypoints=websecure"
      - "traefik.http.routers.backend.tls.certresolver=myresolver"
      - "traefik.http.routers.backend.tls.domains[0].main=${DOMAIN}"

  frontend:
    build:
      context: ./vite-project
      dockerfile: Dockerfile
      args:
        - VITE_BACKEND_URL=https://${BACKEND_DOMAIN}/backend
    container_name: frontend
    restart: always
    env_file:
      - .env
    depends_on:
      - backend
    networks:
      - app-network
      - traefik
    expose:
      - 80
    labels:
      - "traefik.http.routers.frontend.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls.certresolver=myresolver"
      - "traefik.http.routers.frontend.tls.domains[0].main=${DOMAIN}"

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

volumes:
  mongodb_data:
  uploads:

networks:
  app-network:
  traefik:
    driver: bridge